body {
    background-color: bisque;
}

.filter-button {
    text-align: center;
}

#cat {
    background-color: rgb(113, 202, 200);
    color: white;
}

#dog {
    background-color: rgb(177, 240, 177);
    color: white;
}

#dino {
    background-color: rgb(244, 227, 153);
    color: white;
}

.btn-primary {
    margin: 1em;
    color: wheat;
    border-color: aliceblue;
}

.cardContainer {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.card {
    width: 300px;
    margin: 1.5em;
    padding: auto;
}

.image {
    margin: 1em;
    border: solid white;
    border-radius: 0.5em;
    padding: 0.5em;
}

.footer-for-dog {
    background-color: rgb(177, 240, 177);
}

.footer-for-cat {
    background-color: rgb(113, 202, 200);
}

.footer-for-dino {
    background-color: rgb(244, 227, 153);
}



.card-header {
    font-weight: bold;
    text-align: center;
}

